
@{
    ViewBag.Title = "TBthanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Đơn hàng của quý khách đã được chúng tôi ghi nhận.
    Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất
    và giao hàng đúng hẹn nhất luôn là tiêu chí của chúng tôi.
</h2>
<h3 style="text-align:center;color:red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>CHÚC QUÝ KHÁCH MỘT NGÀY VUI VẺ.</b></h3>
<p style="text-align:center">Xin cảm ơn quý khách đã đặt hàng</p>
<p style="text-align:center"><a href="@Url.Action("Index","Home")"><i class="fa fa-reply"> Trở về trang chủ </i></a></p>

