
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Giỏ hàng trống</h2>
<p style="text-align:center"><a href="@Url.Action("Index","Home")"><i class="fa fa-reply">  Tiếp tục mua hàng</i></a></p>

