
@{
    ViewBag.Title = "Xacnhandh";
}

<h2 style="text-align:center">Đơn hàng của quý khách đã được đặt. Chúng tôi sẽ sớm liên hệ với bạn sau</h2>
<h4 style="text-align:center">Xin cảm ơn.</h4>
<span style="text-align: center">@Html.ActionLink("Trở về trang chủ", "Index", "Home")</span>
