
@{
    ViewBag.Title = "về chúng tôi";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ","Index","Home")</li>
                <li class="active">Về chúng tôi</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Nhà cung cấp tốt nhất</span>Sản phẩm dành cho bạn</h2>
                    <p>Tôn chỉ luôn được tập thể nhân viên GEARVN khắc ghi chính là : <b style="color:red">Khách hàng là trọng tâm</b> . Sau nhiều năm không ngừng hoàn thiện và phát triển với trang thiết bị hiện đại, phong cách quản lý chuyên nghiệp cùng đội ngũ kỹ thuật lành nghề. GEARVN đã và sẽ luôn mang đến những sản phẩm có chất lượng tốt nhất, dịch vụ đảm bảo cùng giá thành hợp lý nhằm đáp ứng nhu cầu mua sắm quý khách hàng. </p>
                    <p>Với phương châm <b>“ Doanh nghiệp có cam kết và trách nhiệm ”</b> và định hướng <b>“  Đoàn kết là sức mạnh ”</b>, gia đình GEARVN luôn nỗ lực cả về nhân lực, trí lực để xây dựng uy tín thương hiệu, niềm tin với khách hàng bằng những dịch vụ chúng tôi cung cấp.</p>
                    <p>Mục tiêu trong tương lai của GEARVN là trở thành doanh nghiệp chuyên cung cấp thiết bị công nghệ hàng đầu Việt Nam. Mong muốn đóng góp vào sự phát triển chung của đất nước dựa trên những giải pháp công nghệ kết hợp cùng trang thiết bị hiện đại. Vinh dự là một phần nhỏ trong công cuộc công nghiệp hóa hiện đại hóa đất nước.  </p>
                    <p>Sự ủng hộ và tin tưởng của quý khách hàng và các đối tác trong suốt chiều dài phát triển của GEARVN là nguồn động viên to lớn để chúng tôi ngày càng phát triển hơn. Tập thể GEARVN xin cam kết sẽ không ngừng hoàn thiện từ chất lượng sản phẩm cho đến dịch vụ khách hàng một cách tốt nhất để luôn xứng đáng với niềm tin ấy.</p>
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <div class="about-image-wrap">
                    <img class="img-full" src="~/Storage/Image/product/13.jpg" alt="About Us" />
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->
<!-- Begin Counterup Area -->
<div class="counterup-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <!-- Begin Limupa Counter Area -->
                <div class="limupa-counter white-smoke-bg">
                    <div class="container">
                        <div class="counter-img">
                            <img src="~/Storage/Image/about-us/icon/1.png" alt="">
                        </div>
                        <div class="counter-info">
                            <div class="counter-number">
                                <h3 class="counter">2169</h3>
                            </div>
                            <div class="counter-text">
                                <span>Khách Hàng Thân Thiện</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="counter-img">
                        <img src="~/Storage/Image/about-us/icon/2.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">869</h3>
                        </div>
                        <div class="counter-text">
                            <span>Giải Thưởng</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter white-smoke-bg">
                    <div class="counter-img">
                        <img src="~/Storage/Image/about-us/icon/3.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">689</h3>
                        </div>
                        <div class="counter-text">
                            <span>Số Giờ Làm Việc</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="counter-img">
                        <img src="~/Storage/Image/about-us/icon/4.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">2169</h3>
                        </div>
                        <div class="counter-text">
                            <span>Hoàn Thành Dự Án</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Counterup Area End Here -->
<!-- team area wrapper start -->
<div class="team-area pt-60 pt-sm-44">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="li-section-title capitalize mb-25">
                    <h2><span>Nhóm chúng tôi</span></h2>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" style="margin-left: 337px">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/Storage/Image/team/huy.png" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>H-ntg95</h3>
                        <p>Web Developer</p>
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">2011549769@nttu.edu.vn</a>
                        <div class="team-social">
                            <a href="https://www.facebook.com/gia.heo/"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/Storage/Image/team/nam.png" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>N-nn2k</h3>
                        <p>Web Designer</p>
                        <a href="#">info@example.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>
    </div>
</div>
<!-- team area wrapper end -->
