
@{
    ViewBag.Title = "FAQ";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ","Index","Home")</li>
                <li class="active">FAQ</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Frequently Area -->
<div class="frequently-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="frequently-content">
                    <div class="frequently-desc">
                        <h3>Dưới đây là những câu hỏi thường gặp, bạn có thể tìm thấy câu trả lời cho mình</h3>
                        <p></p>
                    </div>
                </div>
                <!-- Begin Frequently Accordin -->
                <div class="frequently-accordion">
                    <div id="accordion">
                        <div class="card actives">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Nên mua Laptop hãng nào tốt nhất hiện nay?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Ngày nay, có khá nhiều hãng sản xuất laptop uy tín, có thể nhắc đến những cái tên như Lenovo, Asus, Dell, HP, Acer, Apple, Razer, Samsung, Microsoft, MSI, Xiaomi, Toshiba…<br />
                                    Tuỳ theo nhu cầu cũng như tính thẩm mỹ của mỗi người mà có thể tự chọn cho mình một thương hiệu phù hợp.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Làm sao để biết đã đặt hàng thành công?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Sau khi bạn hoàn thành các bước đặt hàng theo chỉ dẫn trên website, chúng tôi sẽ gửi email hoặc sms thông báo cho bạn với nội dung Xác nhận đơn hàng đã đặt.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Làm thế nào để thay đổi thông tin cá nhân trong tài khoản?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Để thay đổi thông tin bạn cần đăng nhập vào tài khoản. Sau đó, bạn vào mục Tài khoản và nhấn Chỉnh sửa để thay đổi thông tin theo mong muốn.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Làm sao để đặt được một đơn hàng online?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Để đặt hàng online bạn vui lòng làm theo hướng dẫn tại mục hướng dẫn mua hàng và đặt hàng; sản phẩm sẽ được giao đến địa chỉ mà bạn
                                    đăng ký nhận hàng ở trang thanh toán.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        làm thế nào để tạo 1 tài khoản?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    Để tạo 1 tài khoản trước hết bạn phải bấm vào phần đăng ký tài khoản, sau đó bạn sẽ điền những thông tin cá nhân, sau khi đăng ký thành công bạn chỉ cần bấm vào phần đăng nhập và nhập tài khoản và mật khẩu bạn đã đăng ký trước đó.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Cần làm gì khi bị quên mật khẩu?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    khi bạn quên mật khẩu, bạn chỉ cần bấm vào chữ "quên mật khẩu" ở phần đăng nhập, bạn chỉ cần nhập gmail hoặc số điện thoại mà bạn đã đăng kí trước đó, chúng tôi sẽ gửi thông báo qua gmail hoặc sms một mã bảo vệ để bạn có thể đổi lại mật khẩu mới.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Sau bao lâu sẽ nhận được hàng?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    * Trường hợp hàng có sẵn ở Việt Nam *<br />
                                    - Đối với khu vực nội thành TP.HCM: Từ 1 đến 2 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    - Đối với các khu vực ngoại thành TP.HCM: Từ 1 đến 3 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    - Đối với các khu vực khác ngoài TP.HCM: Từ 3 đến 5 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    * Trường hợp hàng không có sẵn ở Việt Nam *<br />
                                    - Đối với khu vực nội thành TP.HCM: Từ 10 đến 15 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    - Đối với các khu vực ngoại thành TP.HCM: Từ 10 đến 20 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    - Đối với các khu vực khác ngoài TP.HCM: Từ 15 đến 25 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng;<br />
                                    Lưu ý:Thời gian giao hàng không tính thứ bảy, chủ nhật hay các ngày lễ tết. Đối với những chương trình khuyến mãi
                                    lớn hoặc do điều kiện thời tiết bất ổn,thời gian trên có thể thay đổi so với dự kiến.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Hình thức thanh toán như thế nào?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body">
                                    Bạn có thể thanh toán bằng hình thức:<br />
                                    Thanh toán bằng thẻ Visa hoặc bằng thẻ ngân hàng trực tuyến.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Frequently Accordin End Here -->
            </div>
        </div>
    </div>
</div>
<!--Frequently Area End Here -->
